*{
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    overflow: hidden;
   background: #FF1493;
    padding: 6px 0px;
}
#header h1{
    float: left;
    color: #000;
    margin-left:40px ;
    margin-right: 80px;
    
}
nav{
    overflow: hidden;
}
nav li{
    list-style-type: none;
    float: left;
    margin-top: 2px;
}

nav a{
   font-size: 24px;
    display: block;
    text-decoration: none;
    color: #000;
    margin: 14px 16px 0px;
    margin-right: 60px;
    
    
}
    